.form-grp{
    border: 2px solid darkgreen;
    padding: 22px;
}

.row-custom{
    width: 40rem;
}

.container-div{
    display: flex;
    justify-content: center;
}
.btn-grp{
    display: flex;
    justify-content: end;
}
.btn-clr{
    margin-right: 17px;
}
.table-container{
    display: flex;
    justify-content: center;
}
.table-body{
    width: 90%;
}